<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="mailAppender" class="org.apache.log4j.net.SMTPAppender">
		<param name="BufferSize" value="50" />
		<param name="SMTPHost" value="mail.rangam.com" />
		<param name="SMTPPort" value="25" />
		<param name="SMTPUsername" value="yogeshsolanki@rangam.com" />
		<param name="SMTPPassword" value="june@2017" />
		<param name="From" value="yogeshsolanki@rangam.com" />
		<param name="To" value="yogeshsolanki@rangam.com" />
		<param name="Subject" value="Testing Log4j mail notification" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}]%n%n%-5p%n%n%c%n%n%m%n%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="error" />
			<param name="LevelMax" value="fatal" />
		</filter>
	</appender>

	<root>
		<priority value="info" />
		<appender-ref ref="mailAppender" />
	</root>
</log4j:configuration>